.character
{
	position:absolute;
	width:268px;
	height:500px;
	left:600px;
	top:30px;
	background-repeat:no-repeat;
}

#container[character="alice"] .character
{
	left:100px;
}

#container[character="default"] #characterName
{
	color:rgb(128, 232, 255);
}